name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test (Swift ${{ matrix.swift-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift-version: ['5', '6.2']
    steps:
      - uses: actions/checkout@v6

      - name: Set up Swift ${{ matrix.swift-version }}
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift-version }}

      - name: Cache Swift Package Manager
        uses: actions/cache@v4
        with:
          path: |
            .build
          key: |
            spm-${{ runner.os }}-swift${{ matrix.swift-version }}-${{ hashFiles('**/Package.swift') }}
          restore-keys: |
            spm-${{ runner.os }}-swift${{ matrix.swift-version }}-

      - name: Build
        run: swift build

      - name: Run Tests
        run: swift test
